.plus-button {
  margin-top: 25px;
}

.svg-position {
  position: absolute;
  top: 14px;
  right: 9px;
  width: 18px;
  height: 18px;
  color: #bfc9d4;
}

.search-lable {
  position: relative;
  margin-bottom: 0;
}

.search-input {
  width: 150px;
}

.svg-icons svg {
  margin-right: 10px;
}

.lable-class {
  font-size: 14px;
  margin-bottom: 0;
}

.image-size {
  height: 38px !important;
}

.show-accordion-body {
  display: block !important;
}

.hide-accordion-body {
  display: none !important;
}

.image-size {
  height: 160px;
  width: 160px;
  border-radius: 50% !important;
  border: 5px solid #272133;
  box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
  filter: none !important;
}

.noImage-text {
  text-align: center;
  text-transform: uppercase;
}

.modal .btn-close {
  color: white;
}

.modal-content {
  border: 1px solid white;
}

.place-content-space-between {
  place-content: space-between;
}