<!-- BEGIN LOADER -->
<div id="load_screen" *ngIf="showLoader">
  <div class="loader">
    <div class="loader-content">
      <div class="spinner-grow align-self-center"></div>
    </div>
  </div>
</div>
<!--  END LOADER -->
<div class="layout-boxed layout-px-spacing">
  <h1 class="layout-top-spacing">Redeemed Order</h1>
  <div class="row mt-2">
    <div class="col-12">
      <table class="table table-hover table-bordered">
        <thead >
          <tr >
            <th >Date</th>
            <th >User ID</th>
            <th >Product</th>
            <th >Points</th>
            <th >Quantity</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let data of allData">
            <td >
              {{data.date_created ? (data.date_created * 1000 | date) : ''}}
            </td>
            <td >
              {{data.user_id}}
            </td>
            <td >
              {{data.product_name}}
            </td>
            <td >
              {{data.points || 0}}
            </td>
            <td >
              {{data.quantity || 0}}
            </td>
          </tr>
          <tr *ngIf="allData.length == 0">
            <td colspan="100">
              No available data
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
