<div class="layout-px-spacing">
    <div class="middle-content container-xxl p-0">
        <div class="row layout-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 layout-top-spacing">
                <div class="row mb-3">
                    <div class="col-md-3 my-2" *ngFor="let bot of botsList.bots">
                        <a class="card style-6" href="javascript:void(0);">
                            <span class="badge badge-danger"></span>
                            <img src="{{bot.image_url}}" height="250px" class="card-img-top" alt="...">
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-12 mb-4">
                                        <b>{{bot.bot_name}}</b>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="badge--group">
                                            <a href="#" class="btn btn-sm btn-secondary mt-3" [routerLink]="['/dashboard/bot/view']" [queryParams]="{botUsername: bot.bot_username}">More Details</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <div class="pricing d-flex justify-content-end">
                                            <p class="text-success mb-0">@{{bot.bot_username}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>