.border-color {
    border: 1px solid #e2a03f !important;
}

.finance-h {
    font-size: 25px !important;
    font-weight: 700 !important;
    margin-bottom: 45px !important;
    letter-spacing: 0px !important;
    text-align: center !important;
    color: #bfc9d4 !important;
}

.text-color {
    color: #009688 !important;
}

.badge-color {
    background-color: #009688 !important;
}