/* You can add global styles to this file, and also import other style files */

// body {
//     overflow: hidden !important;
//     height: 100% !important;
// }
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-dialog-surface .mdc-dialog__surface {
    background: #060818 !important;
}

html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}