.image-size {
    width: 416px;
    // border-radius: 50% !important;
    // border: 5px solid #272133;
    // box-shadow: 0 10px 50px rgba(235, 25, 110, 1);
    // filter: none !important;
}

.noImage-text {
    text-align: center;
    text-transform: uppercase;
}